<html>
<head>
    <title>Black_Angel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="App">
        <header class="App-header">
            <img src="{{ url_for('static', filename='logo_2.gif') }}" class="App-logo" alt="logo" />
            <h1 style="border:2px solid #008080;">
                Black Angel er mit naven <span class="heart">♥️</span>
            </h1>
            <p style="display: block;"> 
                jer er også kendt som {{ name }} {{ xx }}
            </p>
            <p class="small">
                jeg er både en kunsner og gamer. 
            </p>
            <p class="small">
                hvis du vil se et af de spille jeg spiller click på liket nede under
            </p>
            <a href="https://www.youtube.com/watch?v=dz1MhkbPthI" class="app-link"> spillet jeg spiller</a>
            <p class="small">
                hvis du vil se nogle af de ting jeg har lavet så click på billet under 
            </p>
            <a href="/Fanfick" class="app-link"> <img src="static/sæbeliner 3.png" alt=""></a>
            

        </header>
    </div>
</body>

</html>